div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 2em;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 700;
}

section {
  display: flex;
  justify-content: space-around;
}

.className {
  display: flex;
  flex-direction: column;
}